/* reset  */

/* base */

/* layout */

/* template */

/*
*
*
*
* reset
*
* http://meyerweb.com/eric/tools/css/reset/ 
* v2.0 | 20110126
* License: none (public domain)
*
*
*
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
*
*
*
* base
*
*
*
*/

body {
	background-color: #f9f9f9;
}

header {
	padding: 11px 0 11px 0;
	background-color: #ffffff;
}

main {
	margin: 50px;
}

iframe {
	width: 100%;
	height: 450px;
	border: none;
}

aside {
	padding-top: 3px;
}

footer {
	background-color: #141B38;
	color: #ffffff;
	text-align: center;
	padding: 30px 0;
}

/* 
*
*
*
* layout
*
*
*
*/

#grid-container-header {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.logo-container {
	margin: auto;
}

.search-container {
	margin: 0 auto;
}

.icon-container {
	margin: auto 0;
}

.right {
	float: right;
	padding-right: 25px;
}

#grid-container-main {
	display: grid;
	grid-template-columns: 2.2fr 1fr;
	margin-top: 24px;
}

#section-container {
	margin-right: 23px;
}

#section-container-main h2 {
	padding-top: 10px;
}

#grid-container-video-main-info {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding-bottom: 10px;
	padding-top: 10px;
}

#grid-container-video-main-info-extra {
	text-align: right;
}

#grid-container-video-main-info-extra .fa {
	padding-left: 20px;
}

#grid-container-video-additional-info {
	display: grid;
	grid-template-columns: 0.5fr 3fr 1fr;
	padding-top: 10px;
}

#subscribe-button button {
	float: right;
}

#video-description {
	padding-top: 35px;
}

#video-description-more {
	padding-top: 15px;
}

.grid-aside {
	display: grid;
	grid-template-columns: 1fr 1.2fr;
	margin-bottom: 10px;
}

#thumbnail {
	text-align: right;
}

.thumbnail-description {
	padding: 3px 0 0 7px;
}

.thumbnail-info {
	padding-top: 10px;
	padding-bottom: 3px;
}

#first-thumbnail {
	padding-bottom: 5px;
}

#second-thumbnail {
	padding-top: 5px;
}

/* 
*
*
*
* template
*
*
*
*/

.logo-container {
	color: red;
}

.black {
	color: black;
	margin-left: 5px;
}

.fa-youtube-play {
	margin-left: 20px;
}

.search-container input {
	float: left;
	border: 1px solid #D6D6D6;
	padding: 8px;
	width: 500px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.search-container input::placeholder {
	color: rgb(141, 139, 139);
}

.search-container button {
	float: left;
	border: 1px solid #333;
	border-left: none;
	padding: 8px;
	width: 65px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	background-color: #dfdede;
	opacity: 0.2;
}

.search-container button > i {
	color: #000000;
}

.right .size {
	font-size: 20px;
}

#video-owner {
	font-size: 48px;
}

#subscribe-button button {
	color: #ffffff;
	background-color: #c00;
	border-radius: 2px;
	padding: 10px 16px;
	margin: 4px;
	font-size: 14px;
	font-weight: 400;
	border: none;
}

.cat-one {
	background-image: url("https://images.unsplash.com/photo-1482066490729-6f26115b60dc?ixlib=rb-1.2.1&w=1000&q=80");
}

.cat-two {
	background-image: url("https://images.unsplash.com/photo-1552933529-e359b2477252?ixlib=rb-1.2.1&w=1000&q=80");
}

.dog-one {
	background-image: url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.dog-two {
	background-image: url("https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2017/11/12234558/Chinook-On-White-03.jpg");
}

.dog-three {
	background-image: url("https://static.toiimg.com/thumb/msid-60132235,imgsize-169468,width-800,height-600,resizemode-75/60132235.jpg");
}

.dog-four {
	background-image: url("https://specials-images.forbesimg.com/imageserve/5db4c7b464b49a0007e9dfac/960x0.jpg?fit=scale");
}

.sidebar-image {
	position: relative;
	width: 100%;
	height: 100px;
	background-size: cover;
	background-position: center;
}

.sidebar-caption {
	position: absolute;
	display: block;
	top: 80px;
	right: 3px;
	background-color: black;
	color: white;
	opacity: 0.75;
	padding: 0 3px;
}

.thumbnail-info .fa-check-circle {
	font-size: 12px;
}

footer p:nth-child(2) {
	padding-top: 10px;
}

footer a {
	color: yellowgreen;
	text-decoration: none;
}

footer a:hover {
	color: teal;
}