/* Project Meta */

/* reset  */

/* general */

/* typography */

/* grid */

/* header */

/* footer */

/* Page template A */

/* reset  */

/* Media Queries */



/* reset  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* grid */

#grid-container-header{
    display: grid;
    grid-template-columns: auto auto auto;
}

/* .logo-container{
    width: 50px;
    height: 50px;
} */

.search-container{
    /* width: 250px;
	height: 50px; */
	margin: 0 auto;
}

/* .icon-container{
    width: 100px;
    height: 50px;
   
} */

.right {
	float: right;
}

#grid-container-main {
	display: grid;
	grid-template-columns: 70% 30%;
}

.grid-aside {
	display: grid;
	grid-template-columns: 45% 55%;
	margin-bottom: 10px;
}

#first-thumbnail {
	margin-bottom: 20px;
	border-bottom: 1px solid black;
	padding-bottom: 20px;
}

#grid-thumbnail {
	display: grid;
	grid-template-columns: 50% 50%;
}

/* Page template A */

.circle-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.sidebar-image {
	width: 168px;
	height: 94px;
	background-size: cover;
	background-position: center;
	position: relative;
}

.sidebar-caption {
	display: block;
	position: absolute;
	top: 75px;
	right: 3px;
	background-color: black;
	color: white;
	opacity: 0.75;
	padding: 0 3px;
}

.cat-one {
	background-image: url("https://images.unsplash.com/photo-1482066490729-6f26115b60dc?ixlib=rb-1.2.1&w=1000&q=80");
}

.cat-two {
	background-image: url("https://images.unsplash.com/photo-1552933529-e359b2477252?ixlib=rb-1.2.1&w=1000&q=80");
}

.dog-one {
	background-image: url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}